/*============================================ 
===============start general part ============
============================================ */
body{
    padding-top: 55px;
}
h4{
    font-family: 'Anton', sans-serif;
}
h3{
    font-size: 36px;
    font-family: 'Anton', sans-serif;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}
hr{
    border:2px solid #3490DC;
}
.vskillza{
    color:#3490DC;
}
/*============================================ 
===============start Navbar part =============
============================================ */
#navbarSupportedContent{
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link{
    color:#FFF;
}

/*============================================ 
===============start intro part ==============
============================================ */
.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-attachment: scroll;
    overflow: hidden;
}
.videoContainer video {
    width: 100%;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, .5);
}
.videoContainer .content_intro{
    z-index: 3;
    position: absolute;
    top: 35%;
    width: 100%;
}
.videoContainer .content_intro .row:first-of-type{
    margin-bottom: 20px;
}

/*============================================ 
===============start tabs part ===============
============================================ */
#tabs{
    padding:40px;
}

#tabs p{
    padding-bottom: 10px;
}

#tabs .nav-pills{
    padding:40px;
}

#tabs .nav-link{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

#tabs .course{
    padding:40px;
    background:#f1f1f1;
    margin:20px 0px;
    max-width: 31%;
    margin-right:15px;
}

#tabs .course img{
    margin-bottom: 15px;
}

#tabs .course h4{
    margin-bottom: 15px;
}

/*============================================ 
===============start services part ===========
============================================ */
#services{
    background: #f1f1f1;
    padding:40px;
}

#services .service{
    padding:15px;
    border-bottom: 1px solid #3490DC;
}

#services .service{
    border:1px solid #3490DC;
}

#services .service:hover{
    background: #333;
    color:#FFF;
    transition: .02s all ease-in-out;
}

#services i{
    color:#3490DC;
    font-size: 30px;
}

/*============================================ 
===============start Blog part ===============
============================================ */
#blog{
    padding:50px 0px;
}

#blog .article{
    margin-top: 25px;
    border:1px solid #ccc;
    padding-bottom: 20px;
}

#blog .article h4{
    padding:20px;
}

#blog .article p{
    padding:20px;
}

#blog .article span{
    padding-bottom:20px;
    font-size: 11px;
    color: #777;
}

/*============================================ 
===============start Clients part ============
============================================ */
#clients{
    background: #f1f1f1;
    padding:50px 0px;
}

#clients hr{
    margin-bottom: 50px;
}
/*============================================ 
===============start Partners part ===========
============================================ */
#partners{
    padding:50px 0px;
}

#partners hr{
    margin-bottom: 50px;
}

#partners .partner{
    margin-top: 20px;
}
/*============================================ 
===============start Subscribe part ==========
============================================ */
#subscribe{
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    padding:50px 0px;
    background: url('../images/contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#subscribe h3{
    color:#FFF;
}
/*============================================ 
===============start Footer part =============
============================================ */
footer{
    padding:50px 0px;
    background:#333;
    color:#FFF;
}

.fa-twitter-square{
    color: #2CAAE1;
}

.fa-facebook{
    color: #3B579D;
}

.fa-youtube{
    color: #FF0000;
}

footer i{
    font-size: 30px;
    color:#3490DC;
}

footer span{
    color: #3490DC;
}

footer .social{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer .part{
    margin-top: 20px;
    text-align: center;
}

footer .social li{
    margin-right: 20px;
}

footer .footer_nav{
    display: flex;
    justify-content: center;
}

footer .footer_nav li a{
    font-size: 20px;
    color: #3490DC;
    margin-left:10px; 
}
/*============================================ 
===============start Login page ==============
============================================ */
#login{
    padding: 50px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
/*============================================ 
===============start Register page ===========
============================================ */
.register_modal{
    display: none;
}
/*============================================ 
===============start Terms page ==============
============================================ */
#terms_page{
    padding:50px;
}
/*============================================ 
===============start media part ==============
============================================ */

@media screen and (max-width:768px){
    .videoContainer .content_intro{
        top: 5%;
    }
    .videoContainer .overlay{
        height: 98%;
    }
    .videoContainer .content_intro h4{
        margin-top:7px;
    }
    .videoContainer .content_intro input{
        margin-top:7px;
    }
    .videoContainer .content_intro .btn-primary{
        margin-top:7px;
    }
    #tabs .course{
        max-width: 100%;
    }
    footer .footer_nav{
        display: block;
        text-align: center;
    }
}